# ignore idea settings
.idea
*.iml

# ignore vscode settings
.vscode

# ignore eclipse settings
.settings
.project
.classpath

# general things to ignore
.gradle
build
target
bin

# ignore logs
log
*.log
