# JavaFX Boilerplate Project
#
# https://github.com/akman/javafx-boilerplate
#
# MIT License (MIT)
# 
# Copyright (C) 2019 - 2021 Alexander Kapitman <akman.ru@gmail.com>
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# Branch value equals:
#   - name of the branch (TRAVIS_BRANCH) for push builds, or builds not
#     triggered by a pull request
#   - name of the branch targeted by the pull request (TRAVIS_BRANCH) for
#     builds triggered by a pull request
#   - name of the tag (TRAVIS_TAG) for builds triggered by a tag
#     CAUTION: For tags, git does not store the branch from which a commit
#     was tagged, so TRAVIS_BRANCH = TRAVIS_TAG

if: branch =~ /^v\d+\.\d+\.\d+(-SNAPSHOT.*)?$/

git:

  # Travis CI can clone repositories to a maximum depth of 50 commits,
  # which is only really useful if you are performing git operations.
  # Please note that if you use a depth of 1 and have a queue of jobs,
  # Travis CI won’t build commits that are in the queue when
  # you push a new commit.
  # You can also remove the --depth flag entirely, add depth: false
  
  depth: false

  # Travis CI clones repositories without the quiet flag (-q) by default.
  # Enabling the quiet flag can be useful if you’re trying to avoid
  # log file size limits or even if you just don’t need to include it.
  
  quiet: true

matrix:

  # If some rows in the build matrix are allowed to fail, the build won’t be
  # marked as finished until they have completed. To mark the build as finished
  # as soon as possible, add fast_finish: true

  fast_finish: true

  include:

    - os: linux
      dist: focal
      language: java
      jdk:
        - openjdk16
    
    - os: osx
      osx_image: xcode12.5
      language: java
      jdk:
        - openjdk16

    - os: windows
      language: bash

cache:
  directories:
    - $HOME/.gradle/wrapper/
    - $HOME/.gradle/caches/
#    - $HOME/.m2

before_install:
  - chmod a+x ./gradlew
#  - chmod a+x ./mvnw
  - find ./ci -type f -name *.sh -exec chmod a+x {} ';'

install:
  - ./ci/install.sh

before_script:
  - source .travis.env

script:
  - ./gradlew check jacocoTestReport
#  - ./mvnw --batch-mode clean verify

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

after_success:
  - bash <(curl -s https://codecov.io/bash)

# after_failure:

before_deploy:
  - ./gradlew jpackage
#  - ./mvnw jpackage:jpackage@jpackage-image jpackage:jpackage@jpackage-installer
  - ./ci/package.sh


# https://docs.travis-ci.com/user/deployment/releases/#authenticating-with-an-oauth-token
# travis login --pro --github-token YOUR_GIT_HUB_PERSONAL_ACCESS_TOKEN
# travis encrypt --com YOUR_GIT_HUB_PERSONAL_ACCESS_TOKEN
deploy:
#  edge: true
  provider: releases
  api_key:
    secure: "q40HoGo00rL19IAU1VGt1r2yvF+rbVXo6kabCX908DHrbyIXPpyluYw2eBINbP8ouGbfRUYtkext1G33PijWi77DmP+J+OQGqzG7EdaXOlaTdj6e1V+KHsx9hleqSlIs/IrkSDtbOi9BcGUh/tU+LpvbuJtHIBj72jJwHrd84WIhkhKIVtG/khtlj1Q6y/OdqRRlOcTsWfh/Q0sEgp9jmClyHWl5cHxAXtYnHNxUEnUaxUsvPYZLJk2/tr1OIuUFucxTqtOzS1aLzm/OZw2IYnB4ejxWdggBbWgXkgKNUeKAYEiaiQDlwxWvufdSq/QlxVndQDSlJVM8B+Umy5YgxsMidELTg7jXbtRj5+Rp+lgbmYWd8+pmfEdgIUh7bhryXjM4OppwVYMMdsIXpmNug1K6tMA6CKZ2ZBUbrxGOVCN9Wv4SdvanoF3L7jy/XrHgtKt3JkLBVia/0kDm0hb2XZfQJMZyUYbDTvAw9DbLwF+ziJFehFxIOLzarzge5avtYZQfEgiyOMYEIb3VhvGb7St/yAd0A45n9evWDav3vI0XqtlYno+nTrEIAutGHGIYSISs/S/usMOVQYLoHr7xN+4rgdin/STcP6D6KxEZbGZSjtG1v8UTkGbA7NOgIJUn77DRziX7y07srjMLuHdIJN0dVf19iB83kW7mOKH5VTA="
  file_glob: true
  file: build/jpackage/*
#  file: target/jpackage/*
  skip_cleanup: true
  on:
    # deployment is triggered if and only if $TRAVIS_TAG is set
    tags: true

# after_deploy:

# after_script:
